body{
    background-color: white;
    font-size: xx-large;
    color: black;
    margin: auto;
    max-width: 600px;
}

p{
    line-height: 1.6;
}


article + article{
    margin-top: 3rem;
    border-top: 1px solid grey;
    padding-top: 3rem;
}
